/App.class
/Capo.class
/Dipendente.class
/ErrLavoratoreInesistente.class
/ErrResponsabileInesistente.class
/ErrTeamDiverso.class
/GestioneAzienda.class
/Lavoratore.class
/Responsabile.class
/Team.class
